@charset "utf-8";
/* CSS Document */

body {
    font-family: Segoe UI;
    font-size: 12pt;
}

select, input {
    font-family: Segoe UI;
    font-size: 12pt;
}

.bold13orange {
    font-weight: bold;
    font-size: 13pt;
    color: #fc6e04;
}

.bold11red {
    font-weight: bold;
    font-size: 11pt;
    color: #f00;
}

.title {
    font-family: 'Segoe UI';
    font-size: 16pt;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cccccc;
}

input.blueButton {
    border: none;
    color: #fff;
    background-color: #094ab2;
    font-family: 'Segoe UI';
    font-size: 11pt;
    padding: 6px 20px 6px 20px;
	cursor: pointer;
}

input:hover.blueButton {    
    background-color: #42a644;
}